@use "./variables.scss" as *;

// Міксин адаптивного тексту (першом параметром приймає мінімальний розмір тексту другим - максимальний)
@mixin adaptiv-font($mobSize, $pcSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidthLocal: $maxWidth - $minWidth;

	@media (max-width: #{$minWidth}px) {
		font-size: #{$mobSize}px !important;
	}

	@media (min-width: #{$maxWidth}px) {
		font-size: #{$pcSize}px !important;
	}

	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth}px) / #{$maxWidthLocal})) !important;
}