$darkGrey: #4A4D4E;
$lightGrey: #C4C4C4;
$white: #FFFFFF;
$darkBlue: #0093E6;
$lightBlue: #7CC6EF;
$bgSecondary: #F9F9F9;
$borderGreyDark: #B4B4B4;
$borderGreyLight: #E5E5E5;

$containerSpace: 10vw;

$maxWidth: 1920;
$minWidth: 375;